html{scroll-behavior:smooth}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  background-size: cover;
  
}
body {
  background: radial-gradient(#292929, #000000);
  /* background-image: url("background.png");
  height: 500px;*/
}
main {
  position: absolute;
}

h1 {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2 {
  color: white;
  font-size: 100px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

sideways {
  color: white;
  margin-top: 520px;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  letter-spacing: 1px;
  font-size: 40px;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  
}


sideways-lower {
  color: white;
  margin-top: 1900px;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  letter-spacing: 1px;
  font-size: 40px;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  
}
a{
  color: white;
  font-size: 2em;
  font-weight: 100;
  padding-bottom: 20px;
  margin-left: 10px;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-family: 'Poppins', sans-serif;
  text-decoration:none
}
a:hover{
  color: grey;
  font-size: 2em;
  font-weight: 100;
  padding-bottom: 20px;
  margin-left: 10px;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-family: 'Poppins', sans-serif;
  text-decoration: underline;
}

p {
  color: white;

}

left {
  color: white;
}

header {
  color: white;
  position: fixed;
  right: 0;
  padding-right: 30px;
}

lower {
  color: white;
  position: absolute;

}
